<html>
    <head>
        <title>Djengo App</title>
    </head>
    <body>
        <h1>Djengo App - index file</h1>
        <h1> <a href="/new">this is the new_blog route</a></h1>
        <h1> <a href="/create">this is the create_blog route</a></h1>
        <form action="/{{number}}" method="GET.Show">
        <input type ="text" name="number" />
        <input type="submit" value="Get Blog" />
        <h1> <a href="/{{number}}/edit">this is the edit_number route</a></h1>
        </form>

    </body>
</html>