#container1{
    margin-top: 50px;
    margin-left:40%;
    width:300px;
    height: 50px;
    border: 1px solid black;
    text-align: center;

}
#container2{
    margin-top: 50px;
    margin-left:30%;
    width:600px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    
}