<h1>Submitted Information</h1>
<table>
    <tr><td>Name: </td><td><%= info.name %></td></tr>
    <tr><td>Dojo Location: </td><td><%= info.location %></td></tr>
    <tr><td>Favorite Language: </td><td><%= info.language %></td></tr>
    <tr><td>Comment: </td><td><%= info.comment %></td></tr>
</table>
<a href="/back">
    <input type="button" value="Go Back" />
</a>